/* GENERAL */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: #F7FAFC;
    font-size: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

.container:before,
.group:before,
.menu:before,
.container:after,
.group:after,
.menu:after  {
    content: " ";
    display: table;
}

.container:after,
.group:after,
.menu:after {
    clear: both;
}

.container,
.group,
.menu {
    *zoom: 1;
}

.container {
        max-width: 1170px;
        margin: 0 auto;

}

/*HEADER*/

.logo {
    float: left;
    margin: 0;
    padding-top: 0.25em;
}

.logo a {
    color: #EBF2D9;
}

.navigation {
    float: right;
}

.mainmenu {
    float: left;
}

.subscribe {
    float: right;
}

.mainmenu {
    border-right: 0.17em solid #9a9caf;
}

.nav-bar {
    margin: 0 auto;
    background:#220B21;
    border-bottom: 1px solid #A89D8D;
}

nav {
    display: block;
}

.menu{
    padding:0;
    margin-left:0 ;
    margin: 0;
}

.navigation a {
    color: #8d90a8;
    text-align: center;
    padding: 1em 0.75em;
    width: 9em;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    font-weight: 600;
    line-height: 3em;
}

.navigation a:hover,
.navigation a:focus {
    color: #183149;
    background: #EBF2D9;
    transition: all .5s ease;
}

.navigation li {
    display: inline-block;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;;
}

/*MAIN CONTENT*/
