/* GENERAL */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: #F5F2F2;
    font-size: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

.container:before,
.group:before,
.menu:before,
.container:after,
.group:after,
.menu:after  {
    content: " ";
    display: table;
}

.container:after,
.group:after,
.menu:after {
    clear: both;
}

.container,
.group,
.menu {
    *zoom: 1;
}

.container {
        max-width: 1170px;
        margin: 0 auto;

}

/*HEADER*/

.logo {
    float: left;
    margin: 0;
    padding-top: 0.25em;
}

.nav-bar {
    margin: 0 auto;
    padding: 0 1em;
    background:#E6F4F2;
    border: 1px solid #A89D8D;
}

nav {
    display: block;
}

.navigation {
    float: right;
}

.navigation a {
    color: #8d90a8;
    /*display: block;*/
    text-align: center;
    padding: 0em 0.8em;
    width: 9em;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2em;

}

.navigation a:hover,
.navigation a:focus {
    color: #2411d1;
    transform: scale(1.05);
    transition: all .5s ease;
}

.navigation li {
    display: inline-block;
}

.navigation li:last-child {
    border-left: 1px solid #7e4a4a;
}

.logo a {
    color: rgb(82, 49, 49);
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;;
}

/*MAIN CONTENT*/

.main-content {
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
}

.boxed {
    background: #F2DDDC;
    border: 0.5em solid #76A688;
    border-radius: 1.5em;
    float: left;
    width: 28%;
    margin-top: 5em;
    margin-right: 3.1em;
    height: 20em;
}

.boxed:hover,
.boxed:focus {
    color: #DCF2E5;
    background: rgb(173, 169, 169);
    transform: scale(1.05);
    transition: all .5s ease;
}