/* GENERAL */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: rgb(243, 234, 234);
    font-size: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

.container:before,
.group:before,
.menu:before,
.container:after,
.group:after,
.menu:after  {
    content: " ";
    display: table;
}

.container:after,
.group:after,
.menu:after {
    clear: both;
}

.container,
.group,
.menu {
    *zoom: 1;
}

.container {
        max-width: 1170px;
        margin: 0 auto;

}

/*HEADER*/

.logo {
    float: left;
    margin: 0;
    padding-top: 0.25em;
}

.nav-bar {
    margin: 0 auto;
    padding: 0 1em;
    background: #adb3b8;
    border: 1px solid #95969e;
}

nav {
    display: block;
}

.navigation {
    float: right;
}

.navigation a {
    color: #6d4a4a;
    /*display: block;*/
    text-align: center;
    padding: 0em 0.8em;
    width: 9em;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2em;

}

.navigation a:hover,
.navigation a:focus {
    color: rgb(212, 218, 250);
    transform: scale(1.05);
    transition: all .5s ease;
}

.navigation li {
    display: inline-block;
}

.navigation li:last-child {
    border-left: 1px solid #7e4a4a;
}

.logo a {
    color: rgb(82, 49, 49);
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;;
}

/*MAIN CONTENT*/

.boxed {
    border: 1px solid black;
    float: left;
    width: 30%;
    padding: 2em 0.5em;
}

.main-content {
    width: 100%;
    margin: 0 auto;
}

